<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="page-header">My ledger accounts</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-controller="UserAccountController" ng-show="vm.isEnabled('ethereum')">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-home fa-fw"></i> Ethereum
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        <form role ="form" name="ethereumAccountForm" novalidate>
                            <div class="form-group">
                                <label for="ethereumJsonRpcUrl">Ethereum node URL</label>
                                <p>Please provide the JSON RPC URL where your Ethereum node can be reached.</p>
                                <input class="form-control" name="ethereumJsonRpcUrl" ng-model="ethereumJsonRpcUrl" />
                            </div>
                            <button class="btn btn-primary" ng-click="vm.saveConfiguration()">Save</button>
                        </form>
                    </div>
                    <div ng-show="isActive()">
                        <h3>Your Ethereum account</h3>
                        <p>Address: {{address}}</p>
                        <p>Account balance: {{balance}}</p>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>