<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" id="page-header">{{asset.name}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="well well-transparent">
            <div class="row">
                <div class="col-lg-4">
                    <h3>{{asset.name}}</h3>
                    <p class="small">Asset ID: {{asset.id}}</p>
                    <p>{{asset.category}}</p>

                    <div ng-repeat="image in asset.images" style="display: inline-block">
                        <img ng-show="image.location=='local'" ng-src="{{(image.location=='local') && 'img/assets/' + image.fileName || ''}}"
                             class="img-responsive img-rounded" style="margin-bottom: 1em; margin-right: 1em;">
                        <img ng-show="image.location!='local' && image.dataUrl" data-ng-src="{{image.dataUrl}}" class="img-responsive img-rounded"
                             style="margin-bottom: 1em; margin-right: 1em;">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div ng-show="{{asset.securedOn}}" class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-lock"></i> Secured with <strong>{{asset.securedOn.name}} security</strong> on:
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div ng-repeat="peg in asset.securedOn.securityPegs track by peg.name" class="col-lg-4" style="padding-bottom: 1em;">
                                            <p><img ng-src="img/backends/{{peg.logoImageFileName}}" /> {{peg.name}} </p>
                                            <!-- TODO: display ledger-specific properties here. The controller should prepare them. -->
                                            <pre ng-show="peg.details">{{peg.details | json}}</pre>
                                            <a ng-hide="peg.transactionUrl == null" class="btn btn-primary" href="{{peg.transactionUrl}}"
                                               target="_blank"><i class="fa fa-search"></i>View transaction</a>
                                            <div class="alert alert-danger" style="margin-top: 1em;" ng-hide="peg.isOwned">
                                                <strong>Warning!</strong> This security peg is not linked to your current address. This could mean that ownership has been transferred to another user.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="{{asset.verifications}}" class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-check"></i> Verified by:
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div ng-repeat="verification in asset.verifications track by verification.name" class="col-lg-4" style="padding-bottom: 1em;">
                                            <p>{{verification.name}} </p>
                                            <p class="small" ng-show="verification.date">{{verification.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm:ss a'}}</p>
                                            <p ng-show="verification.address">{{verification.address}}</p>
                                            <p ng-show="verification.comments">Your comments: {{verification.comments}}</p>

                                            <a ng-show="verification.url" class="btn btn-primary" href="{{verification.url}}" target="_blank">
                                                <i class="fa fa-search"></i>View verification
                                            </a>
                                            <p ng-show="verification.isPending"><strong>This verification request is still pending.</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="{{transferRequests.length > 0}}" class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-mail-forward"></i> Incoming transfer requests
                                </div>
                                <div class="panel-body">
                                    <p>Other users have requested a transfer of ownership of this asset.</p>
                                    <div class="row">
                                        <div ng-repeat="transferRequest in transferRequests" class="col-lg-4" style="padding-bottom: 1em;">
                                            <p><strong>Requester address:</strong> <code>{{transferRequest.requesterAddress}}</code></p>
                                            <a class="btn btn-primary" href="#/transfer/process/{{asset.id}}/{{transferRequest.requesterAddress}}">
                                                <i class="fa fa-play-circle"></i> Process this request
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="#/asset/{{asset.id}}"><i class="fa fa-clock-o"></i> Show history</a>
                                <a class="btn btn-primary" href="#/secure/{{asset.id}}"><i class="fa fa-lock fa-fw"></i> Secure</a>
                                <a class="btn btn-primary" href="#/verify/ownership/{{asset.id}}"><i class="fa fa-check fa-fw"></i> Ownership verification</a>
                                <a class="btn btn-primary" href="#/verify/expert/{{asset.id}}"><i class="fa fa-check fa-fw"></i> Expert verification</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
