<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" id="page-header">Secure your asset</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" id="transfer-request-form" ng-hide="vm.hasLedgers()">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-lock fa-fw"></i> No accounts connected
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    You don't have any accounts for decentralized ledgers configured and connected yet. Please
                    <a href="#/user/settings/accounts">configure and connect to an account</a> and come back here.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" id="secure-asset-form" ng-show="vm.hasLedgers()">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-lock fa-fw"></i> Security details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- /.col-lg-4 (nested) -->
                <div class="col-lg-12">
                    <div>
                        <p><strong>Asset:</strong> {{asset.name}}</p>
                        <p class="small">Asset ID: {{assetID}}</p>
                        <form role="form" name="secureAssetForm" novalidate>
                            <div class="form-group">
                                <label>Security level</label>
                                <p class="help-block">Choose the security level for securing your asset.</p>
                                <select class="form-control" ng-model="level" required>
                                    <option value="premium">Premium</option>
                                </select>
                            </div>
                            <button name="saveButton" ng-click="vm.save()" ng-disabled="secureAssetForm.$invalid || secureAssetForm.$submitted"
                                    class="btn btn-primary pull-right">
                                Secure asset
                            </button>
                            <p ng-show="secureAssetForm.$submitted">Initiating asset security, please wait...</p>
                        </form>
                    </div>
                </div>
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
