<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" id="page-header">Transfer your asset</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" id="new-claim-form">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-mail-forward fa-fw"></i> Transfer ownership of <strong>{{asset.name}}</strong>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.col-lg-4 (nested) -->
                <div class="col-lg-8">
                    <div>
                        <form role="form" name="transferform" novalidate>
                            <div class="form-group">
                                <label>New owner</label>
                                <p class="help-block">Choose the AssetChain member you want to whom you want to transfer your asset.</p>
                                <select ng-model="transfer.target" required>                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea class="form-control" name="comments" ng-model="transfer.comments"></textarea>
                                <p class="help-block">Add any comments with regard to the transfer.</p>
                            </div>
                            <button name="saveButton" ng-click="save()" ng-disabled="transferform.$invalid" class="btn btn-primary">
                                Begin asset transfer
                            </button>                            
                        </form>
                    </div>
                </div>
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
